#NEXT_PUBLIC_URL=http://10.118.5.59:3000
NEXT_PUBLIC_URL=http://193.176.239.21:3000
NEXT_PUBLIC_APP_NAME='Mancho Admin'
NEXTAUTH_SECRET='5K0SGUDFlOWhLX5sAvCPiMF1bT7VT12J'
#NEXTAUTH_URL=http://10.118.5.59:3333
NEXTAUTH_URL=http://193.176.239.21:3333
